.breadcrumb-item + .breadcrumb-item::before {
  content: " "; }

.area {
  padding-top: 0.75rem;
  display: inline-block; }

.b + .b::before {
  content: ">"; }

.bg-tm {
  background-color: transparent; }
