$cq_red:#aa1e11;

body {
  background-color: #f5f5f5 !important; 
}
.font-small{
  font-size:0.75rem !important;
}
.font-red{
  color: $cq_red !important; 
}
.bg-red{
  background-color: $cq_red !important; 
}
.border-red{
  border-color: $cq_red !important; 
}
.my_header{
  width: 100% !important;
  height:13.5rem !important;
}