// 顶部样式
.top_menu{
  width:100%;
  height: 2rem;
  line-height: 2rem;
  background: #aa1e11; 
} 
// logo样式
.logos{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;  
  background: rgba(255,235,235,.3);   
  position: relative;
  img{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform:translate(-50%,-50%);
  }
}