.page-link{
  border-radius:0.25rem !important;
}
.page-item.page-item{margin-left:0.8rem;}
.page-link{
  background-color:transparent;
  color:#fff;
}
.text-middle{
  font-size:0.9rem !important;
}
.page-link:hover{
  border-color: transparent;
  color:#000;
}
.forge:hover{
  color:#aa1e11;
  text-decoration:none;
}
.ph{
  height:8rem;
}